<!-- VUE USER -->
<section>
	<h2>Paramètres</h2>
</section>

<form action="<?= url('settings') ?>" method="post">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" id="email" name="email" placeholder="E-mail" value="<?= $email ?>" required>
			</div>
			<div class="form-group">
				<label for="login">Login</label>
				<input type="text" class="form-control" id="login" name="login" placeholder="Pseudo" value="<?= $login ?>" required>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
			</div>
			<div class="form-group">
				<label for="role">Role</label>
				<select class="form-control" id="role" name="role">
					<option value="1" <?= ($role == 1) ? 'selected' : '' ; ?>>Responsible</option>
					<option value="2" <?= ($role == 2) ? 'selected' : '' ; ?>>Accountable</option>
					<option value="3"<?= ($role == 3) ? 'selected' : '' ; ?>>Consulted</option>
					<option value="4"<?= ($role == 4) ? 'selected' : '' ; ?>>Informed</option>
				</select>
			</div>
			<button type="submit" class="btn btn-default">Mettre à jour</button>
		</div>
	</div>
</form>